<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notificações</title>
    <link rel="icon" type="image/png" href="./img/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="./img/favicon.svg" />
    <link rel="shortcut icon" href="./img/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="./img/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Tecnologias no Diabetes" />
    <link rel="manifest" href="./img/site.webmanifest" />
    <link rel="stylesheet" href="./css/geral.css">
    <link rel="stylesheet" href="./css/notificacao-aberta.css">
</head>

<body>
    {{> view-counter }}
    <div class="container"><br>
        {{> menu }}
        {{> notificacoes }}
        <header>
            <h3>{{ title }}</h3>
        </header>
        <div class="notification-opened" data-id="{{notification.id}}">
            <div class="notification-header">
                <h3 class="notification-date">🕘 {{ notification.date }}</h3>
                <a href="#" target="_blank" class="share-icon whatsapp">
                    <img id="whatsapp-icon" src="./img/whatsapp-icon.png" alt="Ícone de compartilhar no Whatsapp" />
                </a>
            </div>
            <a class="notification-return-up" href="notificacoes.html">Retornar</a>
            <h3 class="notification-title">{{ notification.title }}</h3>
            <p class="notification-content">{{ notification.content }}</p>
            <a class="notification-return-down" href="notificacoes.html">Retornar</a>
        </div>
    </div>
    {{> social-media }}
    {{> footer }}
    <script>
        window.env = {
            API_BASE_URL: "{{apiBaseUrl}}",
            API_KEY: "{{apiKey}}",
            MOST_RECENT_NOTIFICATION_ID: "{{mostRecentNotificationId}}"
        };
    </script>
    <script src="./js/geral.js"></script>
    <script src="./js/notificacao-aberta.js"></script>
</body>

</html>