<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ - Perguntas Frequentes</title>
    <link rel="icon" type="image/png" href="./img/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="./img/favicon.svg" />
    <link rel="shortcut icon" href="./img/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="./img/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Tecnologias no Diabetes" />
    <link rel="manifest" href="./img/site.webmanifest" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/geral.css">
    <link rel="stylesheet" href="./css/faq.css">
</head>

<body>
    {{> view-counter }}
    <div class="container"><br>
        {{> menu }}
        <a class="return-index" href="index.html">Retornar</a>
        {{> notificacoes }}

        <div class="hero faq">
            <h1>FAQ - Perguntas Frequentes ❓💡</h1>
            <p>Encontre aqui as respostas para as perguntas mais frequentes sobre diabetes e tecnologias.</p>
        </div>

        <section>
            {{> search-bar }}
            <div class="faq">
                {{#each questionAnswer}}
                <div class="faq-item" data-id="{{this.id}}">
                    <button class="faq-question">
                        {{this.question}}
                        <span class="arrow"></span>
                    </button>
                    <div class="faq-answer">
                        <a href="#" target="_blank" class="share-icon whatsapp">
                            <img id="whatsapp-icon" src="./img/whatsapp-icon.png" alt="Ícone de compartilhar no Whatsapp" />
                        </a>
                        {{{this.answer}}}
                    </div>
                </div>
                {{/each}}
            </div>
        </section>
    </div>
    {{> social-media }}
    {{> footer }}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script>
        window.env = {
            API_BASE_URL: "{{apiBaseUrl}}",
            API_KEY: "{{apiKey}}",
            MOST_RECENT_NOTIFICATION_ID: "{{mostRecentNotificationId}}",
        };
    </script>
    <script src="./js/geral.js"></script>
    <script src="./js/faq.js"></script>
    <script src="./js/barra-pesquisa.js"></script>
</body>

</html>