<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tecnologias no Diabetes</title>
    <link rel="icon" type="image/png" href="./img/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="./img/favicon.svg" />
    <link rel="shortcut icon" href="./img/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="./img/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Tecnologias no Diabetes" />
    <link rel="manifest" href="./img/site.webmanifest" />
    <link rel="stylesheet" href="./css/geral.css">
    <link rel="stylesheet" href="./css/faq.css">
</head>

<body>
    {{> view-counter }}
    <div class="container"><br>
        {{> menu }}
        {{> notificacoes }}
        <header>
            <h1>Tecnologias no Diabetes 💉🩸💻📱</h1>
            {{> search-bar }}
        </header>
        {{{ downloads }}}
        {{{ tutoriais }}}
        {{{ faq }}}
    </div>
    {{> social-media }}
    {{> footer }}
    <script src="./js/geral.js"></script>
    <script src="./js/barra-pesquisa.js"></script>
    <script src="./js/faq.js"></script>
</body>

</html>