<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notificações</title>
    <link rel="icon" type="image/png" href="./img/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="./img/favicon.svg" />
    <link rel="shortcut icon" href="./img/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="./img/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Tecnologias no Diabetes" />
    <link rel="manifest" href="./img/site.webmanifest" />
    <link rel="stylesheet" href="./css/geral.css">
    <link rel="stylesheet" href="./css/notificacoes.css">
</head>

<body>
    {{> view-counter }}
    <div class="container"><br>
        {{> menu }}
        <header>
            <h1>Notificações 🔔 🗣️📢</h1>
        </header>
        <main class="notification-page">
            <div class="notifications">
                {{#each notifications}}
                <div class="notification" data-id="{{this.id}}">
                    <h3>🕘 {{this.date}}</h3>
                    <p>{{this.title}}</p>
                    <a href="detalhes-aviso-{{this.id}}.html" class="mark-as-read" data-id="{{this.id}}">Leia mais</a>
                </div>
                {{/each}}
            </div>
        </main>
    </div>
    {{> social-media }}
    {{> footer }}
    <script>
        window.env = {
            API_BASE_URL: "{{apiBaseUrl}}",
            API_KEY: "{{apiKey}}",
            MOST_RECENT_NOTIFICATION_ID: "{{mostRecentNotificationId}}"
        };
    </script>
    <script src="./js/geral.js"></script>
    <script src="./js/notificacoes.js"></script>
</body>

</html>