<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tecnologias no Diabetes</title>
    <link rel="icon" href="../img/tecnologias-no-diabetes.jpeg" type="image/jpeg">
    <link rel="stylesheet" href="./css/geral.css">
    <link rel="stylesheet" href="./css/faq.css">
</head>

<body>
    {{> view-counter }}
    <div class="container"><br>
        {{> menu }}
        <header>
            <h1>Tecnologias no Diabetes 💉🩸💻📱</h1>
            {{> search-bar }}
        </header>
        {{{ downloads }}}
        {{{ tutoriais }}}
        {{{ faq }}}
    </div>
    {{> footer }}
    <script>
        window.env = {
            API_BASE_URL: "{{apiBaseUrl}}",
            API_KEY: "{{apiKey}}"
        };
    </script>
    <script src="./js/geral.js"></script>
    <script src="./js/barra-pesquisa.js"></script>
    <script src="./js/faq.js"></script>
</body>

</html>