@import url('variables.css');

.notification-opened {
    display: flex;
    flex-direction: column;
    background-color: var(--container-bg);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0px 2px 5px var(--container-shadow);
    transition: background-color 0.3s;
}

.notification-opened .notification-return-up {
    display: flex;
    justify-content: flex-end;
}

.notification-opened .notification-title {
    text-align: center;
}

.notification-date {
    font-size: 16px;
    color: var(--text-color);
}

.notification-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}