<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <a href="index.html">Início</a>
    <a href="downloads.html">Downloads</a>
    <a href="tutoriais.html">Tutoriais</a>
    <a href="faq.html">FAQ</a>
    <a href="quiz.html">Quiz</a>
    <a href="conteudos-uteis-categorias.html">Conteúdos úteis</a>
    <a href="ferramentas.html">Ferramentas úteis</a>
    <a href="notificacoes.html">Notificações/Avisos</a>
</div>

<button class="menu-icon" onclick="toggleNav()">☰</button>